/* app css stylesheet */

.view-container {
	margin-top: 12px;
	text-align: center;
}

.game-actions {
	margin-bottom: 2%;
}

.field__flags-counter {
	font-size: 1.5rem;
	font-family: monospace;	
	font-weight: bold;
	color: #801515;
}

.field__board {
	max-width: 100%;
	margin: auto;
	margin-top: 3%;
	font-size: 0px;
	padding-left: 2px;
	text-align: center;
}

.field__row {
	padding-top: 2px;
	padding-left: 1px;
	overflow: hidden;
	white-space: nowrap;
}

.field__cell {
	display: inline-block;
  	box-shadow: -1px -1px #333;
	margin-right: 2px;
	width: 16px;
	height: 16px;
	text-align: center;
	font-size: 10px;
	line-height: 16px;
	color: transparent;
	vertical-align: top;
	background-color: gray;
	cursor: pointer;
}

.field__cell.open {
	color: green;
	background-color: white;
}

.lost {
	background-color: red;
}

.field__cell[data-charged="true"]:after {
	display: block;
	text-align: center;
	content: '\2622';
}

.open[data-charged="true"]:after {
	color: red;
}

.field__cell.marked:after {
	display: block;
	text-align: center;
	color: white;
	content: '\2691'
}

.modal.in {
  display: block;
}

.modal-dialog {
	z-index: 1050;
}

.field__preview {
  text-align: center;
}

.field__preview-wrapper {
  display: inline-block;
  padding-top: 1px;
  padding-left: 1px;
}

.field__preview .field__cell {
  display: inline-block;
  width: 12px;
  height: 12px;
  margin-right: 1px;
  background-color: grey;
  box-shadow: -1px -1px 0 #000;
}

.field__preview .field__row {
  margin-bottom: 1px;
  word-spacing: 1px;
  line-height: 12px;
}

.finish-modal .modal-title {
	text-align: center;
}

.finish-modal .btn {
	width: 100%;
}

.modal-parent {
	position: fixed;
	z-index: 1050;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}
