<div class="container-fluid">
  <div class="row">
    <div class="field">
      <div class="field__board">
          <div class="field__row" ng-init="rowIndex = $index" ng-repeat="row in range(gameData.fieldHeight) track by $index">
            <div class="field__cell {{singleCell.status}}"
                  ng-init="singleCell = getCell({x:$index, y:rowIndex})"  
                  data-charged="{{singleCell.charged}}" 
                  ng-right-click="mark(singleCell)" 
                  ng-click="handleClick(singleCell)" 
                  ng-repeat="col in range(gameData.fieldWidth) track by $index">
              {{singleCell.number}}
             </div>
          </div>
      </div>
          
    </div>
  </div>
</div>
