<div class="container-fluid">
  <div class="row">
    <div class="field">
      <div class="field__flags-counter">
        {{flagsCount}}
      </div>
      <div class="field__board">
          <div class="field__row" ng-init="rowIndex = $index" ng-repeat="row in range(gameData.fieldHeight) track by $index">
            <div 
                 
                ng-repeat="col in range(gameData.fieldWidth) track by $index"
                class="field__cell {{getCell({x:$index, y:rowIndex}).status}}" 
                data-charged="{{getCell({x:$index, y:rowIndex}).charged}}" 
                ng-right-click="mark(getCell({x:$index, y:rowIndex}))" 
                ng-click="handleClick(getCell({x:$index, y:rowIndex}))" 
            >{{getCell({x:$index, y:rowIndex}).number}}</div> 
          </div>
      </div> 
    </div>
  </div>
</div>
