<div class="modal-dialog modal-lg">
  <div class="modal-content">
    <div class="modal-header">
      <button class="close" ng-click="closePan(true)">×</button>
      <h4 class="modal-title">
        Set game type
      </h4>
    </div>
    <div class="modal-body">

      <div class="row">
        <div class="col-xs-4">
          <h5>Set field Height</h5>
          <div class="range">
            <input type="range" ng-model="gameData.fieldHeight" ng-change="convertDataToInt()" name="rangeHeight" min="10" max="25" />
            <output id="range">{{gameData.fieldHeight}}</output>
          </div>
        </div>
        <div class="col-xs-4">
          <h5>Set Field Width</h5>

          <div class="range range-primary">
            <input type="range" ng-model="gameData.fieldWidth" name="rangeWidth" ng-change="convertDataToInt()" min="10" max="30" />
            <output id="rangePrimary">{{gameData.fieldWidth}}</output>
          </div>
        </div>

        <div class="col-xs-4">
          <h5>Set Mines Count</h5>
          <div class="range range-error">
            <input type="range" name="rangeMines" min="10" max="75" ng-model="gameData.mineCount" ng-change="convertDataToInt()"/>
            <output id="rangeError">{{gameData.mineCount}}</output>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
            <div class="field__preview">
              <div class="field__preview-wrapper">
                <div class="field__row" ng-repeat="i in range(gameData.fieldHeight) track by $index">
                  <div class="field__cell" ng-repeat="i in range(gameData.fieldWidth) track by $index"></div>
                </div>
              </div>

            </div>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button"  ng-click="closePan()" class="btn btn-success" name="button">{{buttonText}}</a>
    </div>
  </div>
</div>
