<!doctype html>
<html lang="en" ng-app="minerApp">
<head>
  <meta charset="utf-8">
  <title>Miner App</title>
  <link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.css">
  <link rel="stylesheet" href="css/app.css">
  <link rel="stylesheet" href="css/animations.css">

  <script src="../bower_components/jquery/dist/jquery.js"></script>
  <script src="../bower_components/angular/angular.js"></script>
  <script src="../bower_components/angular-route/angular-route.js"></script>
  <script src="../bower_components/angular-resource/angular-resource.js"></script>
  
  <script src="js/controllers.js"></script>
  <script src="js/services.js"></script>
  <script src="js/classes.js"></script>
  <script src="js/constants.js"></script>
  <script src="js/app.js"></script>
</head>
<body class="container-fluid">
  <div class="view-container" ng-controller="GameCtrl">
    <button type="button" class="btn btn-primary" ng-click="changeStatus(GAME_STATES.SETTINGS)">Pause/Settings</button>
    <button type="button" class="btn btn-primary" ng-click="triggerNew()">Restart</button>
    <ng-include src="'partials/settings.html'" ng-controller="SettingsCtrl" class="modal-parent" ng-show="gameStatus === GAME_STATES.SETTINGS"></ng-include>
    <ng-include src="'partials/field.html'" ng-controller="FieldCtrl"></ng-include>
    <ng-include src="'partials/finish.html'" ng-controller="FinishCtrl" class="modal-parent" ng-show="gameStatus === GAME_STATES.ENDED"></ng-include>
    <div ng-show="(gameStatus === GAME_STATES.SETTINGS) || (gameStatus === GAME_STATES.ENDED)" class="modal-backdrop fade in"></div>
  </div>
</body>
</html>
